<div class="cart-bg-container">
    <header></header>
    <div class="cart-container">
        <div class="cart-products">
            <ul *ngFor="let product of cartProducts">
                <li class="cart-product">
                    <img src={{product.imageUrl}} class="cart-product-image" alt={{product.productId}}/>
                    <p class="cart-product-name">{{product.productName}}</p>
                    <div>
                        <label for="product-quantity" class="product-quantity">Qty</label>
                        <input type="number" class="quantity" id="product-quantity" value="1" min="1" max="10" (change)="updateTheProductsQuantity(product.productId,$event)">
                    </div>
                    <button class="remove-button" (click)="onRemoveProduct(product.productId)">Remove</button>
                </li>
            </ul>
        </div>
        <div class="cart-checkout-container">
            <p>bharath</p>
            <button class="btn btn-primary" (click)="checkOut()" [hidden]="isCartHavingItems" >Checkout</button>
        </div>
    </div>
</div>
