.cart-bg-container{
    background-color: #000000;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.cart-container{
    display: flex;
    width: 90vw;
    margin-top: 25px;
}
.cart-products{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    background-color: #2c364c;
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
    height: fit-content;
}
.cart-product{
    display: flex;
    align-items: center;
    width: 40vw;
    margin-top: 5px;
    height: 100px;
    justify-content: space-around;
    background-color: #919191;
    border-radius: 15px;
}
.cart-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 120px;
    height: 100px;
}
.cart-product-image{
    height: 75px;
    width: 75px;
    margin-left: 10px;
    border-radius: 15px;
    align-self: flex-start;
}
.cart-product-name{
    font-family: sans-serif;
  font-size: 16px;
  color: #fffcfc;
  font-weight: 600;
  padding-top: 16px;
}
.product-quantity{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-align: start;
    padding-right: 10px;
}
.quantity{
    width: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid #f8fafc;
    padding: 5px;
    background-color: transparent;
    text-align: center;
}
.cart-checkout-container{
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c364c;
    border-radius: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.remove-button{
    outline: none;
    cursor: pointer;
    background-color: #537ef3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fffcfc;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    margin-right: 50px;
    padding: 5px;
}
.checkout-deatails-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
    height: 30px;
    margin-bottom: 5px;
}
.addresses-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    padding: 10px;
}
.addresses-list{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #fffcfc;
  font-weight: 500;
  border: 0.5px solid #ffffff;
  padding: 5px;
  border-radius: 3px;
  width: 30vw;
  margin-top: 2px;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30vw;
    height: 200px;
}
.checkout-price-heading{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #fffcfc;
  font-weight: 500;
  text-align: center;
  margin-left: 10px;
}
.checkout-price-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #fffcfc;
  font-weight: 500;
}
.checkout-price-details1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #fffcfc;
  font-weight: 500;
  margin-right: 35px;
}
hr{
width: 90%;
margin-left: auto;
margin-right: auto;
height: 2px;
background-color:white;
color:white;
border: 0 none;
border-radius: 1px;
}
.checkout-button{
    outline: none;
    cursor: pointer;
    background-color: #537ef3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fffcfc;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.credit-card{
    display: flex;
    flex-direction: column;
    width:25vw;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(253, 253, 253, 0.432);
    margin-bottom: 10px;
}
.cvv-expiry-container{
    display: flex;
    align-items: center;
    width: 25vw;
}
.cardNo-input-element{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #ffffff;
font-weight: 500;
font-size: 15px;
margin-bottom: 5px;
outline: none;
border-radius: 5px;
border: 0.5px solid #f8fafc;
padding: 2px;
background-color: transparent;
width: 250px;

}
.upi-input-element{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #ffffff;
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
margin-top: 5px;
outline: none;
border-radius: 5px;
border: 0.5px solid #f8fafc;
padding: 2px;
background-color: transparent;
width: 250px;
}
.cvv-input-element{
    width: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid #f8fafc;
    padding: 2px;
    background-color: transparent;
    margin-right: 10px;
}
.form-group-1{
    display: flex;
    align-items:center;
}
.form-group-2{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.login-button {
    width: 130px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 5px;
    background-color: #537ef3;
    height: 30px;
}
.label-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
    text-decoration: none;
}
.label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    text-decoration: none;
}
.label-3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: center;
}
.unordered-list{
    list-style-type: none;
}
.payment-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    margin: 10px;
}
.upi-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
}
.upi-image{
    height: 100px;
    width: 30vw;
    border-radius: 10px;
    margin-bottom: 10px;
}