<nav class="header-container">
    <ul class="tabs-container">
        <li key="logo-home">
          <img
            src="https://res.cloudinary.com/dhyg2tdfb/image/upload/v1652696237/kisspng-e-commerce-computer-icons-shopping-cart-software-o-shopping-cart-5ac7d129bef211.9922103615230446497821_l1nzdt.png"
            alt="website logo"
            class="logo"
          />
        </li>
        <li key="header-search">
          <input type="search" class="search-input-element" placeholder="Search your Intrest..">
        </li>
      <div class="home-jobs-container">
          <li key="home" class="tab-item" routerLink="">
            Home
          </li>
          <li key="job" class="tab-item">
            <i class="bi bi-cart-fill"></i>
            Cart
          </li>
      </div>
        <li key="profile" class="profile-icon">
          <img
            src="https://res.cloudinary.com/dhyg2tdfb/image/upload/v1637651836/BharathPurudiPP_vckyod.jpg"
            alt="pro icon"
            class="pro-icon-class"
          />
        </li>
        <li>
          <button
      class="logout-button"
      type="button"
      (click)="logoutFunction()"
    >
      Logout
    </button>
        </li>
    </ul>
  </nav>