.home-page-bg-container {
  background-color: #1c1a1a;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  .corousel-image{
    height: 350px;
    width: 100vw;
  }
  .categories-container{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-top: 25px;
    flex-grow: 1;
  }
  .categories-list{
    list-style: none;
    
  }
  .category-list-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
  }
  .cat-image{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 3px;
  }
  .cat-item-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fffcfc;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
  }