<div class="specific-product-bg-container">
<header></header>
<div class="specific-product-container">
    <div class="product-image-title-container">
        <img src={{product.imageUrl}} class="specific-image" alt={{product.productName}}/>
        <div class="title-rating-container">
            <h1 class="product-title">{{product.productName}}</h1>
            <p class="product-rating">Rating: 4.5</p>
            <h1 class="description">Description: <span class="product-description">{{product.imageUrl}}</span></h1>
            <div class="add-cart-container">
                <button class="add-cart-button" (click)="addToCart()">Add to Cart</button>
                <div>
                <label for="product-quantity" class="product-quantity">Qty</label>
                <input type="number" class="quantity" id="product-quantity" value="1" min="1" max="10" (change)="updateQuantity($event)">
                </div>
            </div>
        </div>
        <div class="product-image-title-container">
            <ul>

            </ul>

        </div>
    </div>

</div>
</div>