<div class="specific-product-bg-container">
<header></header>
<div class="specific-product-container">
    <div class="product-image-title-container">
        <img src={{product.imageUrl}} class="specific-image" alt={{product.productName}}/>
        <div class="title-rating-container">
            <h1 class="product-title">{{product.productName}}</h1>
            <div class="rating-container">
                <p class="product-rating">Rating: </p>
                <div class="crop" [style.width.px]="product.rating*20">
                    <div style="width: 120px">
                        <span class="fa fa-star star-color"></span>
                        <span class="fa fa-star star-color"></span>
                        <span class="fa fa-star star-color"></span>
                        <span class="fa fa-star star-color"></span>
                        <span class="fa fa-star star-color"></span>
                    </div>
                </div>
            </div>
            <h1 class="description">Description: <span class="product-description">{{product.description}}</span></h1>
            <div class="add-cart-container">
                <button class="add-cart-button" [hidden]="productAdded" (click)="addToCart(product.productId)" [hidden]="!outOfStock">Add to Cart</button>
                <button class="add-cart-button" [hidden]="!productAdded" (click)="goToCart()">Go to Cart</button>
                <button class="add-cart-button" [hidden]="!productAdded" (click)="goToHome()">Add more products</button>
                <button class="add-cart-button" [hidden]="outOfStock">Out Of Stock</button>
            </div>
        </div>
        <div class="product-image-title-container">
            <ul>

            </ul>

        </div>
    </div>

</div>
</div>